* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::selection {
  background: #ddd;
}
::-moz-selection {
  background: #ddd;
}
body {
  font-family: 'gesta', 'Helvetica Neue', sans-serif;
  font-size: 62.5%;
  font-weight: 300;
  background: #ff5c59;
  -webkit-font-smoothing: antialiased;
}
a {
  color: #000;
  text-decoration: none;
  border-bottom: 1px solid #ff5c59;
}
a:hover {
  border: 0;
}
.inner {
  max-width: 900px;
  margin: 0 auto;
  border-left: 1px solid rgba(153,153,153,0.25);
}
header {
  height: 730px;
  background: #000 url('diogeno-bg.jpg') no-repeat center;
  background-size: cover;
  color: #fff;
  position: relative;
}
header .inner {
  height: 530px;
  padding: 50px 0;
  position: relative;
}
header h1 {
  font-family: 'jubilat', 'Times New Roman', serif;
  font-size: 180px;
  line-height: 1em;
  font-weight: 500;
  margin-bottom: 10px;
  margin-left: -100px;
}
header h2 {
  position: absolute;
  top: 480px;
  left: 225px;
  color: #fff;
  background: #ff5c59;
  padding: 75px 100px;
  font-weight: 300;
  font-size: 30px;
  line-height: 50px;
  height: 350px;
  z-index: 20;
}
header p {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 2px;
  padding-left: 225px;
  margin-bottom: 80px;
}
header .social {
  position: absolute;
  top: 40px;
  right: 0;
}
header .social a {
  color: #fff;
  border-color: #666;
}
header .social a:hover {
  background: #666;
}
main {
  position: relative;
}
main, footer {
  background: #fff;
}
main .inner {
  padding: 200px 0 125px 225px;
}
section {
  margin: 0 auto 125px;
  max-width: 675px;
  position: relative;
}
section li {
  overflow: auto;
  zoom: 1;
}
section li span {
  display: block;
  float: left;
}
section:last-child {
  margin: 0 auto;
}
section h3 {
  font-family: 'jubilat', 'Times New Roman', serif;
  font-size: 30px;
  color: #ff5c59;
  line-height: 35px;
  font-weight: 500;
  margin-bottom: 50px;
}
section p, section ol {
  font-size: 20px;
  line-height: 2em;
  margin-bottom: 50px;
}
section p.introp {
  font-weight: bold;
  margin-bottom: 25px;
}
section ol {
  list-style-type: none;
}
section.email h2 {
  font-size: 75px;
  line-height: 1.2em;
  font-weight: 500;
  font-family: 'jubilat', 'Times New Roman', serif;
  margin: 0 0 50px -325px;
}
section.email p {
  font-size: 30px;
  line-height: 1.6em;
}
section.email a {
  color: #fff;
}
#contact {
  background: #000 url('map.jpg') no-repeat center;
  background-size: cover;
  color: #fff;
}
#contact .inner {
  padding: 125px 0 125px 225px;
}
footer .inner {
  padding: 125px 0 125px 225px; 
}
.social {
  height: 36px;
  overflow: auto;
  zoom: 1;
}
.social a {
  display: block;
  float: left;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin-left: 10px;
  border: 2px solid;
}
.social a span {
  display: none;
}
.social a i {
  display: block;
  width: 32px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  font-size: 14px;
}
.n {
  font-family: 'jubilat', 'Times New Roman', serif;
  color: #ff5c59;
  font-size: 16px;
  font-weight: 500;
  width: 36px;
  height: 36px;
  line-height: 36px;
  margin-top: 4px;
}
.desc {
  width: -moz-calc(100% - 36px);
  width: -webkit-calc(100% - 36px);
  width: -o-calc(100% - 36px);
  width: calc(100% - 36px);
}
.letter {
  height: 70px;
  width: 70px;
  border-radius: 50%; 
  background: #ff5c59;
  color: #fff;
  text-align: center;
  line-height: 70px;
  font-size: 24px;
  position: absolute;
  left: -260px;
  top: -17.5px;
  z-index: 20;
}
.letter i {
  display: block;
  height: 70px;
  width: 70px;
  line-height: 70px;
  font-size: 32px;
}
.address {
  padding-left: 20px;
  border-left: 3px solid #fff;
  margin: 0;
}
.address a {
  color: #fff;
}
.metro {
  padding-left: 30px;
  background-image: url(l4.png);
  background-size: 24px 24px;
  background-repeat: no-repeat;
  background-position: 0 0;
}
.member {
  position: relative;
  margin-bottom: 50px;
}
.member:last-child {
  margin: 0;
}
.member img {
  display: block;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background: #ddd;
  border: 0;
  position: absolute;
  left: -315px;
  top: -70px;
  z-index: 10;
}
.member .container {
  overflow: auto;
  zoom: 1;
}
.member h4 {
  font-size: 20px;
  line-height: 2em;
  font-weight: bold;
  float: left;
}
.member p {
  margin: 0;
}
.member .social {
  padding-top: 2px;
  height: 40px;
}
.member .social a {
  border-color: #ddd;
  color: #000;
}
.member .social a:hover {
  background: #ddd;
}
.reed {
  margin: 0;
}
.reed i {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #ff5c59;
  position: absolute;
  left: -230px;
  top: 5px;
}
.reed p {
  margin: 0;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #aaa;
}
.reed p a {
  display: inline-block;
  width: 14px;
  height: 14px;
  background: url(reed.png);
  background-size: 14px 14px;
  text-indent: -9999px;
  vertical-align: -3px;
  border: 0;
}
.triangle {
  width: 100%;
  height: 200px;
  background: url(triangle.png);
  background-size: 100% 200px;
  position: absolute;
  bottom: 0;
}
@media (max-width: 1200px) {
  header h1 {
    margin-left: 100px;
  }
  section.email h2 {
    margin-left: -125px;
  }
}
@media (max-width: 1080px) {
  .member img {
    position: static;
    margin-bottom: 25px;
  } 
}
@media (max-width: 1000px) {
  .inner {
    border: 0;
  }
  .letter {
    display: none;
  }
  .reed i {
    display: none;
  }
  main .inner, #contact .inner, footer .inner {
    padding-left: 25px;
    padding-right: 25px;
  }
  main .inner {
    padding-top: 275px;
  }
  header {
    height: auto;
    margin-bottom: -225px;
  }
  header .inner {
    height: auto;
    padding: 50px 25px;
  }
  header h1 {
    margin: 0 0 100px;
    text-align: center;
    font-size: 120px;
  }
  header h2 {
    position: relative;
    top: 0;
    left: 0;
    max-width: 675px;
    height: auto;
    margin: 0 auto;
  }
  header p {
    padding-left: 0;
  }
  header .social {
    right: 25px;
  }
  .triangle {
    display: none;
  }
  section.email h2 {
    margin-left: 0;
    font-size: 50px;
  }
}
@media (max-width: 725px) {
  header h1 {
    font-size: 80px;
    margin-bottom: 50px;
  }
  header h2 {
    padding: 30px 50px;
    font-size: 24px;
    line-height: 1.6em;
    max-width: 400px;
  }
  header p {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 80px;
  }
  section {
    margin-bottom: 75px;
  }
  section.email p {
    font-size: 24px;
  }
  main .inner {
    padding-top: 250px;
    padding-bottom: 75px;
  }
  #contact .inner, footer .inner {
    padding-top: 75px;
    padding-bottom: 75px;
  }
}